/* bland profiles */
[class^="avatarDecoration"],
[class^="profileEffects"] {
    display: none;
}

[class$="custom-theme-background custom-user-profile-theme"] {
    --profile-gradient-primary-color: var(--background-surface-high) !important;
    --profile-gradient-secondary-color: var(--background-surface-high) !important;
    --profile-gradient-overlay-color: rgba(0, 0, 0, 0) !important;
    --profile-gradient-button-color: var(--background-mod-subtle) !important;
    --theme-base-color-light-hsl: unset !important;
    --theme-base-color-light: unset !important;
    --theme-text-color-light: unset !important;
    --theme-base-color-dark-hsl: unset !important;
    --theme-base-color-dark: unset !important;
    --theme-text-color-dark: unset !important;
    --theme-base-color-amount: unset !important;
    --theme-text-color-amount: unset !important;
}

/* nameplates */
/* for member list */
div[class*="nameplated_"] > div[class^="container"][style^="background"],
/* for dm list */
li[class*="dm_"][role="listitem"] > div > div[class^="container"][style^="background"] {
    display: none;
}

/* remove gradient glow in chat and member list */
span[class*="usernameGradient_"] {
    color: color-mix(in lab, var(--custom-gradient-color-1), var(--custom-gradient-color-2));
    background: none;
    -webkit-text-fill-color: initial;
}

span[class^="nameGlow"] {
      display: none;
}
