@import url("https://ukriu.github.io/cssCord/Other/blandProfile.css");
@import url("https://ukriu.github.io/cssCord/Other/noSuperReactions.css");

[class*="marketingButtonBackground"],
[class*="newBadge_"],
[class*="premiumTab"],
[class*="premiumBadge"],
[class*="premiumFeatureBorder"],
div[class*="selectionGroup"]:has(div[class*="tryItOutButtons"] > button[class*="shinyButton_"]),
[class*="upsell"],
li[role="listitem"]:has(a[href="/store"]),
li[role="listitem"]:has(a[href="/shop"])
{display: none;}

/* quest banner in gift inv */
.container_c50183:has(.textContainer_c50183 > .headerContainer_c50183 > img[src="/assets/7749189229f35e2f.png"]) {
    display: none;
}

/* newly added emojis in emoji picker */
[class*="newlyAddedBadge_"] {display: none;}
[class*="newlyAddedHighlight_"] {
    border: unset !important;
}

/* shop upsell in profile editor in settings */
div[style*="https://cdn.discordapp.com/assets/content/5d02fdeea"]  {
    display: none;
}

/* quest icon when a user is actively doing a quest in the member list */
div[class*="subText"] > div > svg[class*="questsIcon"] {
    display: none;
}
